<app-toolbar></app-toolbar>
<div class="container">
  <div class="row pb-5">
    <div class="col-md-4 cover-img">
      <div class="text-center pt-5">
        <img src="/assets/img/logo-photo-ecuador.png"
             alt="logo-icon" width="50%">
      </div>
      <blockquote class="blockquote text-center" style="margin-top: 20px">
        <p class="mb-0">
          “No hay reglas para las buenas fotografías, son solo buenas fotografías”.</p>
        <footer class="blockquote-footer"> Ansel Adams</footer>
      </blockquote>
    </div>
    <div class="col-md-8">
      <div id="carouselCover" class="carousel slide main-cover" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cover-behind">
              <img class="d-block cover-size"
                   src="/assets/img/portada.jpg" alt="First slide">
              <div class="cover-front">
                <img border="0" width="120px" src="/assets/img/logo-photo-ecuador.png" alt="First slide">
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5>La Mejor P&aacute;gina Para Mostrar Tu Arte</h5>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cover-behind">
              <img class="d-block cover-size"
                   src="/assets/img/portada1.jpg" alt="Second slide">
              <div class="cover-front">
                <img border="0" width="120px" src="/assets/img/logo-photo-ecuador.png" alt="First slide">
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Comparte Tus Fotos</h5>
              <p>Muestra tu arte</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cover-behind">
              <img class="d-block cover-size"
                   src="/assets/img/portada2.jpg" alt="T slide">
              <div class="cover-front">
                <img border="0" width="120px" src="/assets/img/logo-photo-ecuador.png" alt="First slide">
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Gran Experiencia</h5>
              <p>Tus momentos son vistos por todos</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselCover" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselCover" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12  pt-5 pb-5"
         style="border: 1px solid; background-color: #ffffff;border-radius: 40px">
      <p class="parraf text-center">
        Manten al día tu trabajo y puedes demostrar tus facultades en el arte de la fotografía
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 pt-5 pb-5">
      <div class="card" style="width: auto">
        <span class="text-center" style="font-size: 8em; color: #0c8da0">
          <i class="fas fa-share-alt"></i>
        </span>
        <div class="card-body">
          <h5 class="card-title text-center">Disfruta Compartir Tus Fotos</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 pt-5 pb-5">
      <div class="card" style="width: auto">
        <span class="text-center" style="font-size: 8em; color: #0c8da0">
          <i class="fas fa-images"></i>
        </span>
        <div class="card-body">
          <h5 class="card-title text-center">Muestra Tus &Aacute;lbums</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 pt-5 pb-5">
      <div class="card" style="width: auto">
        <span class="text-center" style="font-size: 8em; color: #0c8da0">
          <i class="fas fa-camera-retro"></i>
        </span>
        <div class="card-body">
          <h5 class="card-title text-center">Conoce Nuevos Trabajos</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
